* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 40px;
}

/*Scrollbar Settings */

Width ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-content {
  margin: 1.25rem 5rem;
}

.header {
  height: 100vh;
}

.s-logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
}
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-links {
  text-decoration: none;
  color: black;
  position: relative;
}

.navigation-links::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #b3b3b3;
  transition: all 0.3s;
}
.navigation-links:hover::after {
  width: 100%;
}

.navigation-container {
  display: flex;
  gap: 1.25rem;
}

/*Styling Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.hero-name {
  font-size: 2rem;
  color: #b3b3b3;
  margin-bottom: 1.56rem;
}

.hero-name .suryansh {
  color: #555bff;
  font-family: Pacifico;
}
.paragraph-flutter {
  width: 924px;
  position: relative;
}

.hero-introduction {
  text-align: center;
  font-size: 2rem;
}

.paragraph-flutter > img {
  position: absolute;
  bottom: -0.625rem;
  right: 10.6rem;
}

/* Star Physics */

.star {
  cursor: grab;
}

.star-1 {
  transform: translate(-25rem, -18.75rem);
}

.star-2 {
  transform: translate(-30rem, 12px);
}

.star-3 {
  transform: translate(9.5rem, 6.25rem);
}

.star-4 {
  transform: translate(50rem, -18.75rem);
}

.star-5 {
  transform: translate(40rem, 50px);
}

/* Project Section */

.project-section-container {
  cursor: grab;
  user-select: none;
  width: 1154px;
  height: 515px;
  background-image: linear-gradient(to bottom right, #8e2de2, #4a00e0);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px auto;
  color: white;
}

.project-details {
  flex: 0.5;
}

.project-name {
  font-size: 36px;
  font-weight: 700;
}

.project-title {
  font-weight: 100;
  margin-bottom: 50px;
}

.project-description {
  font-weight: 100;
}
/* Award Section */

.awards-section {
  margin-top: 100px;
}
.awards-section > h2 {
  margin-bottom: 50px;
}
.awards-section p {
  font-size: 48px;
}

.hackerstreetz {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}

.divider {
  border: 1px solid #b3b3b3;
  margin: 30px auto;
  width: 100%;
}

.apotheosis {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 50px 0;
}

.footer {
  margin-top: 200px;
  background-color: #fafafa;
  height: 75vh;
  padding: 40px 90px;
}

.linkedin {
  font-size: 40px;
  text-decoration: none;
}

.connect-with-me {
  display: flex;
  justify-content: space-between;
}

.connect-with-me p {
  font-size: 40px;
}

.connect-with-me a {
  color: #b3b3b3;
}

.email {
  text-decoration: none;
  font-size: 40px;
  color: #9b9b9b;
}

.copyright {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.copyright-text,
.crafted-with-code {
  font-size: 32px;
  color: #b3b3b3;
}
